<form class="sign-in-form" [formGroup]="data">
  <h1 class="full-width text-center">Вхід</h1>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email">
    <mat-error>Email не вірний, приклад: example&#64;gmail.com</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Пароль</mat-label>
    <input [type]="passwordInputType" matInput formControlName="password">
    <button class="mat-icon-button" mat-icon-button matSuffix (click)="hidePassword.set(!hidePassword())"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{passwordIcon}}</mat-icon>
    </button>
    <mat-error>Пароль занадто короткий!</mat-error>
  </mat-form-field>

  <button class="full-width" mat-raised-button color="primary" (click)="signIn.set($event)">Увійти</button>

  <div class="full-width text-center">Ще не маєте аккаунту? <a routerLink="/sign-up">Зареєструйтесь.</a>
  </div>
</form>